<h1>Forgot your password</h1>

<%= form_with url: password_reset_path do |form| %>

<div class="mb-3">
  <%= form.label "Email address", class: "form-label" %>
  <%= form.email_field :email, class: "form-control form-control-sm", placeholder: "user@example.com", "autocomplete": "off" %>
</div>

<div class="mb-3">
  <%= form.submit "Send Reset Link", class: "btn btn-sm btn-primary" %>
</div>

<% end %>
