<header class="text-center mb-4">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="nav-link active" href="/">Home</a>
      <%= link_to "About", about_path, class: "nav-link" %>
      <!-- <a class="nav-link" href="/about">About</a> -->
      <!-- <a class="nav-link" href="/contact">Contact Us</a> -->
      <%= link_to "Contact Us", contact_path, class: "nav-link" %>
      <% if Current.user %>
      <%= link_to "Logout", logout_path, class: "nav-link underline" %>
      <% else %>
      <%= link_to "Sign Up", sign_up_path, class: "nav-link" %>
      <% end %>
    </div>
  </nav>
</header>
